<div class="header animate__animated animate__bounce">
  <div class="section">
    <span class="title">Zoom Client</span>
  </div>
  <div class="section">
    <ul class="list-menu">
      <li class="btn-menu">
        <i class="uil uil-estate"></i>
      </li>
      <li class="btn-menu">
        <i class="uil uil-share"></i>
      </li>
      <li class="btn-menu">
        <i class="uil uil-github"></i>
      </li>
    </ul>
  </div>
  <div class="section">
    <div class="wrapper-avatar">
      <img src="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/phvVT0qZfcRms5qDAk0SI3CM.png" alt="">
    </div>
  </div>
</div>
<div class="wrapper-body" (click)="goToRoom()">
  <div class="block">
    <div class="btn-block">
      <i class="uil uil-video"></i>
    </div>
    <div class="label-title">
      Nueva reunion
    </div>
  </div>
</div>
